body{
    background-color: azure;
}
#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 400px;
}

p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: left
}
em strong{
    color:white;
}

strong{
    color: black;
}
#servico{
    font-family:'Times New Roman', Times, serif;
}

div{
    border-style: groove;
    border-color: black;
    border-width: 2px;
    background-color: slateblue;
    padding: 20px;
}

h2{
    color: black;
    text-align: center;
}

li{
    color: white;
}

.apresentacao{
    padding: 30px;
}